@font-face {
  font-family: myFirstFont;
  src: url(HelveticaNeueUltraLight.ttf);
}
@@font-face {
  font-family: Helvetica95Black;
  src:url(Helvetica95Black.ttf);
}

p {
  font-family: Helvetica;
  font-size: 3vw;
  line-height: 2.4vw;
  padding-left: 2.2vW;
  padding-top: 1vW;
  font-weight: 700;
}

#cheuvront{
  font-family: Verdana;
  font-size: 3.8vw;
  font-weight: 100;

  display: inline-block;
  transform: scale(1.6, 1);
}

#accescode {
  display: inline-block;
  transform: scale(0.72, 1);
  margin-left: -3vW;
  margin-right: -3.6vw;
}

#code {
  background-color: red;
  color: white;
}

#school {
  font-family: myFirstFont;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: .29vw;
  border-top: .07vW solid;
  padding-top: .6vW;
  margin-left: 2.75vw;
}

#image {
  width: 25vW;
}
